

<h1> Klienci firmy </h1>
  <table style="width:95%">
<tr>
    <th style="width: 10%">nazwa</th>
    <th style="width: 10%">nip</th>
    <th style="width: 20%">dane adresowe</th>
    <th style="width: 10%">opiekun Klienta</th>
    <th style="width: 30%">zdarzenia</th>
    <th style="width: 10%">opcje</th>
    <th style="width: 10%">zdarzenia</th>
</tr>
    
  
  
   {{#each client}}
    <td>{{nazwa_firmy}} </td>
    <td> {{nip}}</td> 
    <td>{{adres.kod_pocztowy}} {{adres.miasto}} <br>
    ul. {{adres.ulica}} {{adres.nr_domu}} /  {{adres.nr_lokalu}}<br>
    adres e-mail: {{adres.adres_email}} <br>
    nr telefonu: {{adres.nr_telefonu}}</td>
    <td>{{opiekun}}</td>
     <td> 
{{#list contacts}} w dniu{{dateFormat data_kontaktu "YYYY-MM-DD"}} forma:  {{forma_kontaktu}}  notatka: {{notatka}}  {{/list}}
   </td>
   <td> <a href="/client/{{_id}}"> modyfikuj </a>
    <a href="/client/del/{{_id}}"> usuń  </a> </td>
    <td> <a href="/contact/add/{{_id}}"> dodaj zdarzenie </a><br/>
     </td>
        </tr>
      {{/each}}