

<h1> Klienci firmy </h1>

     <form style="width:50%" method="GET" action="/client/nip/{{nip}}">
     <h4> Wyszukaj klienta</h4>
  <label>nip</label><input name="nip"/> <button> Znajdź </button>
  </form>
  <form style="width:50%" method="GET" action="/client/miasto/{{miasto}}">
     <label> miasto </label><input name="miasto"/> <button> Znajdź </button><br />
</form>  


  <table style="width:95%">
<tr>
    <th style="width: 10%">nazwa</th>
    <th style="width: 10%">nip</th>
    <th style="width: 20%">dane adresowe</th>
    <th style="width: 10%">opiekun Klienta</th>
    <th style="width: 30%">zdarzenia</th>
    <th style="width: 10%">pliki</th>
    <th style="width: 10%">opcje</th>
    
</tr>
    
  
  
   {{#each client}}
    <td>{{nazwa_firmy}} </td>
    <td> {{nip}}</td> 
    <td>{{adres.kod_pocztowy}} {{adres.miasto}} <br>
    ul. {{adres.ulica}} {{adres.nr_domu}} /  {{adres.nr_lokalu}}<br>
    adres e-mail: {{adres.adres_email}} <br>
    nr telefonu: {{adres.nr_telefonu}}</td>
    <td>{{opiekun}}</td>
     <td> 
{{#each contacts}} w dniu{{dateFormat data_kontaktu "YYYY-MM-DD"}} forma:  {{forma_kontaktu}}  notatka: {{notatka}}<br>  {{/each}}
   </td>
  <td> {{#each files}}  {{filename}} {{desc}} {{/each}}</td>
   <td> <a href="/client/{{_id}}"> modyfikuj </a>
    <a href="/client/del/{{_id}}"> usuń  </a> </td>
    <td> <a href="/contact/add/{{_id}}"> dodaj zdarzenie </a> <a href="/file/add/{{_id}}">  dodaj plik </a> 
      <td> 
     </td>
        </tr>
      {{/each}}