 <form style="width:50%" method="POST" action="/contact/add/{{_id}}">
     <h2> Zarejestruj nowe działanie</h2>
 
 <label>Data kontaktu</label><input type="date" name="data_kontaktu" /><br/>
 <label> Klient </label> <input type="ObjectId" name="client" value="{{_id}}"/> <br/>

 <label> Forma kontaktu</label><select type="text"name="forma_kontaktu">
    <option>- wybierz </option>
    <option>spotkanie </option>
    <option>telefon </option>
    <option>e-mail</option>
    <option>poczta </option>
    <option>inne </option>
      </select>
  <br/>
 <label> Notatka</label><textarea name="notatka"></textarea><br/>
 <label>Data następnego kontaktu</label><input type="date" name="data_nastepnego_kontaktu"/><br/>

<button>Zapisz</button><br />
</form>     

<h1> Zdarzenia dla klienta  </h1>
  <table style="width:90%">
<tr>
  <th style="width: 10%">data_kontaktu</th>
  <th style="width: 10%">forma_kontaktu</th>
  <th style="width: 20%">notatka</th>
  <th style="width: 20%">client</th>
  <th style="width: 10%">data_nastepnego_kontaktu</th>
  <th style="width: 15%">opcje</th>
</tr>
     
  {{#each contact}}
  <td>{{dateFormat data_kontaktu "YYYY-MM-DD"}}</td>
  <td> {{forma_kontaktu}}</td> 
  <td>{{notatka}} </td>
  <td> {{client.nazwa_firmy}} </td>
  <td>{{#if data_nastepnego_kontaktu}}{{dateFormat data_nastepnego_kontaktu "YYYY-MM-DD"}}{{/if}}</td>
  <td> <a href="/contact/{{_id}}"> modyfikuj </a>
  <a href="/contact/del/{{_id}}"> usuń  </a> </td>
</tr>
      {{/each}}