<section>
  <h2>{{title}}</h2>

  <a href={{content1}}> przeglądaj bazę klientów</a>
  <br />
   <a href={{content2}}> dodaj nowego klienta</a>
  <br />
  <a href={{content3}}> przeglądaj kontakty</a>
  <br />
  <a href={{content4}}> przeglądaj użytkowników</a>
  <br />
  <a href={{content5}}> zaloguj się</a>
  <br />
   <a href={{content6}}> dodaj użytkownika</a>
  <br />

</section>