<form style="width:50%" method="POST" action="/client/update/{{_id}}"
     <h2> Skoryguj dane klienta</h2>


    <label>nazwa firmy</label><input type="text" name="nazwa_firmy" value="{{nazwa_firmy}}" /><br>
    <label>NIP</label> <input type="number" name="nip"value="{{nip}}"  />
    <label>>kod pocztowy</label> <input type="text" name="kod_pocztowy"value="{{kod_pocztowy}}"  /></label>
    <label>miasto</label> <input type="text" name="miasto" value="{{miasto}}"  />
    <label>ulica</label> <input type="text" name="ulica" value="{{ulica}}" />
    <label>numer domu</label> <input type="text" name="nr_domu" value="{{nr_domu}}" />
    <label>numer lokalu</label> <input type="text" name="nr_lokalu" value="{{nr_lokalu}}"  />
    <label>adres_email</label> <input type="email" name="adres_email" value="{{adres_email}}" />
    <label>numer telefonu</label> <input type="text" name="nr_telefonu" value="{{nr_telefonu}}" />

    <button>Zapisz zmiany</button><br />
</form>  
 