<form style="width:50%" method="POST" action="/client/update/{{_id}}"
     <h2> Skoryguj dane klienta</h2>


    <label>nazwa firmy</label><input type="text" name="nazwa_firmy" value="{{nazwa_firmy}}" /><br>
    <label>NIP</label> <input type="number" name="nip"value="{{nip}}"  />
    <label>>kod pocztowy</label> <input type="text" name="adres.kod_pocztowy"value="{{adres.kod_pocztowy}}"  /></label>
    <label>miasto</label> <input type="text" name="adres.miasto" value="{{adres.miasto}}"  />
    <label>ulica</label> <input type="text" name="adres.ulica" value="{{adres.ulica}}" />
    <label>numer domu</label> <input type="text" name="adres.nr_domu" value="{{adres.nr_domu}}" />
    <label>numer lokalu</label> <input type="text" name="adres.nr_lokalu" value="{{adres.nr_lokalu}}"  />
    <label>adres_email</label> <input type="email" name="adres.adres_email" value="{{adres.adres_email}}" />
    <label>numer telefonu</label> <input type="text" name="adres.nr_telefonu" value="{{adres.nr_telefonu}}" />
    <label>opiekun Klienta</label><input type="text" name="opiekun" value="{{opiekun}}" /><br>
    <button>Zapisz zmiany</button><br />
</form>  
 