
<h1> lista użytkowników  </h1>
  <table style="width:90%">
<tr>
    <th style="width: 10%">login</th>
    <th style="width: 10%">hasło</th>
    <th style="width: 20%">role</th>
    <th style="width: 15%">opcje</th>

</tr>
  
 {{#each users}}
    <td>{{login}} </td>
    <td> {{password}}</td> 
    <td>{{role}} <br>
    <td> <a href="/users/{{_id}}"> modyfikuj </a>
    <a href="/users/del/{{_id}}"> usuń  </a> </td>
</tr>
      {{/each}}

