<h2> Dane klienta</h2>


<p>nazwa firmy
<h3>{{nazwa_firmy}}</h3>
</p>

<p>NIP {{nip}} </p>
<p> adres:{{adres.kod_pocztowy}} {{adres.miasto}} </p>
<p> ul. {{adres.ulica}} {{adres.nr_domu}}/{{adres.nr_lokalu}}</p>
<p> adres e-mail {{adres.adres_email}}</p>
<p> numer telefonu {{adres.nr_telefonu}}</p>
<hr>
<button> <a href="/client/{{_id}}"> modyfikuj </a></button>
<hr>
<h4> Ostatnie kontakty z klientem</h4>

    {{#each contacts}} w dniu{{dateFormat data_kontaktu "YYYY-MM-DD"}} forma: {{forma_kontaktu}} notatka: {{notatka}}
    <br> {{/each}}
    <hr>

   

    <button><a href="/contact/add/{{_id}}"> dodaj zdarzenie </a> </button>
    <hr>
    <h4> Pliki klienta</h4>
       <ul>
         {{#each files}} 
            <li><a href="{{filePath}} ">{{filename}} </a></li>
            
         {{/each}}
         
      </ul>
    <br> 
   <hr>